<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Template.css">
  <link href="http://fonts.cdnfonts.com/css/depixel" rel="stylesheet">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/Template.js"></script>
  <title>May's Visual Novel</title>
</head>

<body>

  <scene>

    <canvas></canvas>

    <speech>
      <name></name>
      <content></content>
    </speech>

    <dialog type="text">
      The content of a page of text for reading
    </dialog>

    <dialog type="inventory">
        <button type="button">close</button>
        <ul>
          <!-- <li>a description could be written in here</li>
          <li>b</li>
          <li>c</li>
          <li>d</li>
          <li>e</li> -->
        </ul>
    </dialog>

  </scene>
  
  <dialog type="splash" open>
    <img id="FudgeStoryLogo" theme="dark" /> <!-- use "light" or "dark" -->
      <div>
          <div>
              <p>
                  This is May's visual novel.
              </p>
          </div>
      </div>
  </dialog>

</body>

</html>